
.container-slider{
    position: relative;
    width: calc(50%);
    max-width: calc(400px);
    margin: auto;
    overflow: hidden;
    border-radius: calc(3%) ;
    box-shadow: 0 0 0 0px #888, 0 15px 50px;
    -webkit-border-radius: calc(3%) ;
    -moz-border-radius: calc(3%) ;
    -ms-border-radius: calc(3%) ;
    -o-border-radius: calc(3%) ;
}

.slider{
    display: flex;
    width: calc(400%);
    margin-left: calc(-100%);
    
    
}

.slider--section{
    margin: calc(3%);
    width: calc(100%);
    height: calc(90%);
    
}

.slider--img{
    display: block;
    width: calc(100%);
    height: calc(100%);
    object-fit:contain;

}

.slider--btn{
    display: flex;
    position: absolute;
    width: calc(14%);
    height: calc(14%);
    background: #9ecc3b;
    top: calc(45%);
    transform: translateY(-50%);
    font-size: calc(175%);
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    border-radius: calc(10%);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: calc(10%);
    -moz-border-radius: calc(10%);
    -ms-border-radius: calc(10%);
    -o-border-radius: calc(10%);
}

.slider--btn:hover{
    background-color: #fff;
}

.slider--btn--right{
    right: calc(10%);
}

.slider--btn--left{
    left: calc(10%);
}

@keyframes palpi {
    0%{ opacity: 0; }
    50%{ opacity:1;}
    100%{ opacity:0;}
    from{ transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); }
    50%{ transform:none; -webkit-transform:none; -moz-transform:none; -ms-transform:none; -o-transform:none; }
    to { transform:scale(0.8); -webkit-transform:scale(0.8); -moz-transform:scale(0.8); -ms-transform:scale(0.8); -o-transform:scale(0.8); }
}

.atento{
    animation: palpi 2s infinite;
    -webkit-animation: palpi 2s infinite;
}

.box-shadow{
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px #9ecc3b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.oF {object-fit: contain;
}

/* Esto es para el menu de RECURSOS */

.fijo{
    
    position: fixed;
    z-index: 10;
    max-width: calc(1200px) !important;
    opacity: 0.4;
    transition: all;
    transition-duration: 0.5s;
}

.fijo:hover{
    transition: all;
    transition-duration: 0.5s;
    opacity: 100;
}

.caja-fija{
    height: calc(8rem);
    
}

a.myanchor {
    display: block;
    position: relative;
    top: calc(-180px);
    visibility: hidden;
}

.small-espacio{
    padding-top: calc(30px);
} 
                            /* hasta aca */
